<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-3"><b>Login Page</b></h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
  <label  class="form-label">User name</label>
  <input type="text" class="form-control" name="u"  placeholder="enter user name">
</div>

        <div class="mb-3">
  <label  class="form-label">Password</label>
  <input type="password" class="form-control" name="p" placeholder="enter password">
</div>



    <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary">
    </div>




</form>
{% endblock %}